:root {
  --main-color: #ff9800;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Start Settings Box */
.settings-box {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  min-height: 100vh;
  z-index: 1000;
  background-color: #fff;
  transition: 0.3s;
  border: 1px solid #eee;
}
.settings-box.opened {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  top: 100px;
  right: -30px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.settings-box .toggle-settings .settings {
  padding: 8px 0;
  width: 30px;
}
.settings-box .settings-container .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
}
.settings-box .settings-container .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.settings-box .settings-container .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.settings-box .settings-container .option-box .colors-list li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #eee;
}
.settings-box .settings-container .option-box .colors-list li.active {
  border-color: gray;
}
.settings-box .settings-container .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}

.settings-box .option-box .yes,
.settings-box .option-box .no {
  background-color: var(--main-color);
  color: #fff;
  width: 50px;
  display: inline-block;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px 10px;
  opacity: 0.5;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}
.settings-box .option-box span.active {
  opacity: 1;
}
.settings-box .reset-option {
  background-color: red;
  border: none;
  width: 178px;
  padding: 10px;
  display: block;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  margin: 10px auto;
  font-weight: bold;
}
/* End Settings Box */
/* Start Navigation Bullets */
.nav-bullets {
  position: fixed;
  z-index: 1000;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  margin: 20px auto;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: #fff;
  padding: 8px 10px;
  right: 32px;
  top: -10px;
  position: absolute;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet .tooltip::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent var(--main-color);
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
/* End Navigation Bullets */
/* Start Landing Page */
.landing-page {
  position: relative;
  min-height: 100vh;
  background-image: url(../imgs/images1.jpg);
  background-size: cover;
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.landing-page .container {
  position: relative;
  z-index: 1000;
}
.landing-page .header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
}
.landing-page .header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.header-area .links-container {
  width: 100%;
  text-align: right;
}
.landing-page .header-area .links {
  list-style: none;
  padding-left: 0;
}
.landing-page .header-area .links li {
  display: inline-block;
  right: 0;
  margin-left: 15px;
}
.landing-page .header-area .links li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.landing-page .header-area .links li a:hover,
.landing-page .header-area .links li a.active {
  color: var(--main-color);
}
.header-area .toggle-menu {
  border: none;
  background: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
}
.header-area .toggle-menu.menu-active::before {
  content: "";
  position: absolute;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  bottom: -18px;
  margin-left: -15px;
}
.header-area .toggle-menu:focus {
  outline: none;
}
.header-area .toggle-menu span {
  display: block;
  height: 4px;
  margin-bottom: 4px;
  background-color: #fff;
}
.landing-page .introuduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  text-align: center;
  width: 95%;
}
.landing-page .introuduction-text h1 {
  font-size: 35px;
  margin: 0 0 12px;
}
@media (max-width: 575px) {
  .landing-page .introuduction-text h1 {
    font-size: 26px;
  }
}
.landing-page .introuduction-text h1 span {
  color: var(--main-color);
}
.landing-page .introuduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
@media (max-width: 991px) {
  .landing-page .header-area .links {
    display: none;
  }

  .landing-page .header-area .links.open {
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    padding: 20px;
    display: block;
    text-align: left;
    border-radius: 4px;
  }
  .landing-page .header-area .links.open li {
    display: block;
    margin: 10px;
  }
  .landing-page .header-area .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
  .header-area .toggle-menu {
    display: inline-block;
  }
}
/* End Landing Page */
/* Start About Us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}
@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
  }
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 10px;
  color: var(--main-color);
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}
.about-us .image-box img {
  width: 300px;
}
/* End About Us */
/* Start Our Skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
}
@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
}
.skills .skill-box .skill-name {
  width: 140px;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}
@media (max-width: 767px) {
  .skills .skill-box .skill-name {
    margin-bottom: 15px;
    width: 100%;
  }
}
.skills .skill-box .skill-progress {
  position: relative;
  width: calc(100% - 140px);
  background-color: #f6f6f6;
  height: 30px;
  border-radius: 6px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .skills .skill-box .skill-progress {
    width: 100%;
  }
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s;
}
/* End Our Skills */
/* Start Our Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.gallery h2 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  height: 150px;
  padding: 3px;
  border: 1px solid #ccc;
  margin: 5px;
  background-color: #f6f6f6;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
}
.popup-box h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 20px;
  text-align: center;
}
.popup-box img {
  width: 500px;
}
.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-family: Arial, Tahoma;
}
/* End Our Gallery */
/* Start Timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  left: 50%;
  top: 0;
  margin-left: -1px;
}
.timeline .timeline-content .year {
  font-weight: bold;
  margin: 20px auto;
  background-color: var(--main-color);
  color: #fff;
  width: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 2;
  padding: 2px 5px;
  position: relative;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-content .left:before,
  .timeline .timeline-content .right:before {
    display: none;
  }
  .timeline .timeline-content .left .content:before,
  .timeline .timeline-content .right .content:before {
    display: none;
  }
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left:before {
  right: -35px;
}
.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  background-color: #fff;
  top: 20px;
  position: absolute;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right:before {
  left: -35px;
}
.timeline .timeline-content .content {
  background-color: #fff;
  padding: 20px;
}
.timeline .timeline-content .content h3 {
  color: var(--main-color);
  font-weight: bold;
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  line-height: 1.6;
  margin: 0;
}
.timeline .timeline-content .left .content:before,
.timeline .timeline-content .right .content:before {
  content: "";
  border-width: 10px;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
}
.timeline .timeline-content .left .content:before {
  border-color: transparent transparent transparent #fff;
  right: -20px;
}
.timeline .timeline-content .right .content:before {
  border-color: transparent #fff transparent transparent;
  left: -20px;
}
.clearfix {
  clear: both;
}
/* End Timeline */
/* Start Our Features */
.features {
  padding-top: 70px;
  padding-bottom: 70px;
}
.features h2 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 60px;
  text-align: center;
}
.features .feat-box {
  width: calc(100% / 3);
  float: left;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .features .feat-box {
    width: 100%;
  }
}
.features .feat-box img {
  width: 200px;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feat-box h4:before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}
.features .feat-box p {
  color: #706f6f;
  width: 80%;
  margin: 0px auto;
  line-height: 1.7;
}
/* End Our Features */
/* Start Testimonials */
.testimonials {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.testimonials::before {
  content: "";
  width: 50%;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.testimonials::after {
  content: "";
  width: 50%;
  background-color: #333;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.testimonials h2 {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 30px;
  text-align: left;
  z-index: 2;
  position: relative;
}
@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
  }
}
.testimonials .testimonials-box {
  z-index: 2;
  position: relative;
  width: calc(98% / 3);
  float: left;
  background-color: #fff;
  padding: 20px;
  font-size: 22px;
}
@media (max-width: 767px) {
  .testimonials .testimonials-box {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
.testimonials .testimonials-box:not(:last-of-type) {
  margin-right: 1%;
}
.testimonials .testimonials-box > p {
  line-height: 1.5;
  margin: 0 0 20px;
  font-size: 18px;
  color: #777;
  font-style: italic;
}
.testimonials .testimonials-box .personal-info {
  overflow: hidden;
}
@media (max-width: 991px) {
  .testimonials .testimonials-box .personal-info {
    overflow: visible;
    text-align: center;
  }
}
.testimonials .testimonials-box .personal-info img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 991px) {
  .testimonials .testimonials-box .personal-info img {
    float: none;
    margin-right: 0;
  }
}
.testimonials .testimonials-box .personal-info h4 {
  margin: 14px 0 10px;
}
.testimonials .testimonials-box .personal-info p {
  color: #777;
  margin: 0;
}
/* End Testimonials */
/* Start Contact Us */
.contact {
  min-height: 600px;
  background-image: url();
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact h2 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 60px;
  text-align: center;
}
.contact form {
  max-width: 800px;
  overflow: hidden;
  margin: auto;
}
.contact form .left {
  width: 49%;
  float: left;
}
.contact form .right {
  width: 49%;
  float: right;
}
@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    width: 100%;
    float: none;
  }
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  padding: 10px;
  background-color: var(--main-color);
  width: 100%;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form textarea:focus:-ms-input-placeholder,
.contact form input:not([type="submit"]):focus:-ms-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
/* End Contact Us */
/* Start Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
/* End Footer */
/* Start Grid System */
/*Small Screens => Landscape, Phone*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/*Medium Screens => Tablets */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/*Desktop Screens*/
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/*Large Screens */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* End Grid System */
